.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  opacity: 1;
  filter: brightness(1.35) contrast(1.35) saturate(1.5);
  pointer-events: none;
  transition: filter 0.4s, opacity 0.4s;
}

@media (max-width: 900px) {
  .background-video {
    height: 100vw;
    min-height: 100vh;
  }
}
